.custom-scrollbar::-webkit-scrollbar { 
    width: 5px; 
}

.custom-scrollbar::-webkit-scrollbar-track { 
    background: rgba(30, 58, 138, 0.2); 
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: rgba(96, 165, 250, 0.3); 
    border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
    background: rgba(96, 165, 250, 0.5); 
}

.bg-cotecmar-gradient {
    background: linear-gradient(135deg, #002B49 0%, #004B78 100%);
}

.active-filter {
    background-color: #ebf8ff !important;
    border-color: #3182ce !important;
    color: #2c5282 !important;
    transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.pill-button {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.pill-button:hover {
    transform: translateY(-1px);
}

/* Estilos para el documento simulado */
.doc-page {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    min-height: 400px;
    background: white;
    font-family: 'Times New Roman', Times, serif;
}